.hero {
    height: 100vh;
    margin: 0;
    background-image: url("/Images/flag.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}

a {
    all: unset;
    cursor: pointer;
}


.slogan {
    margin: 20vh 8vh;
    text-align: center;
    max-width: 70vh;
    color: aliceblue;
    font-size: 1.3rem;
    opacity: 0; 
    transform: translateX(-100%); 
    animation: slogan-slide-in 2s ease-out forwards;
    animation-delay: .5s; 
}

@keyframes slogan-slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slogan .start-learning {
    width: 30vh;
    height: 5vh;
    border: none;
    background-color: #2234ff;
    color: aliceblue;
    font-weight: 900;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s;
}

.slogan .start-learning:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .slogan {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* margin: 15vh 2rem; */
        max-width: 100%;
        font-size: 1rem;
    }

    .slogan .start-learning {
        width: 25vh;
        height: 4.5vh;
    }
}

@media (max-width: 480px) {
    .slogan {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 20vh 1rem; */
        flex-direction: column;
        font-size: 0.9rem;
    }

    .slogan .start-learning {
        width: 30vh;
        height: 4vh;
    }
}
